<% let bodyContent = `
    <h1 class="mb-4">Assignments</h1>

    <a class="btn btn-success mb-3" href="/assignments/add">Add Assignment</a>

    <div class="card shadow-sm">
        <div class="card-body p-0">
            <table class="table table-striped table-hover mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Course</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
`;

assignments.forEach(a => {bodyContent += `
    <tr>
        <td>${a.title}</td>
        <td>${a.course}</td>
        <td>${a.dueDate}</td>
        <td>${a.status}</td>
        <td>
            <a class="btn btn-warning btn-sm" href="/assignments/edit/${a._id}">Edit</a>
            <a class="btn btn-danger btn-sm" href="/assignments/delete/${a._id}">Delete</a>
        </td>
    </tr>
`;
});

bodyContent += `
            </table>
        </div>
    </div>
`;
%>

<%- include("layout", { body: bodyContent }) %>