<% let bodyContent = `
    <h2>Assignments</h2>

    <a class="btn btn-primary mb-3" href="/assignments/add">Add Assignment</a>

    <table class="table table-bordered">
        <tr>
            <th>Title</th>
            <th>Course</th>
            <th>Due date</th>
            <th>Status</th>
        </tr>
`;

assignments.forEach(a => {bodyContent += `
    <tr>
    <td>${a.title}</td>
    <td>${a.course}</td>
    <td>${a.dueDate}</td>
    <td>${a.status}</td>
    <td>
        <a class="btn btn-warning btn-sm" href="/assignments/edit/${a._id}">Edit</a>
        <a class="btn btn-danger btn-sm" href="/assignments/delete/${a._id}">Delete</a>
    </td>
    </tr>
`;
});

bodyContent += `
        </table>
`;
%>

<%- include("layout", { body: bodyContent }) %>