<body class="p-4">

    <nav class="navbar navbar-dark bg-dark mb-4 p-3">
        <a class="navbar-brand text-light" href="/">Assignment Tracker</a>
        <a class="navbar-brand text-light" href="/assignments">Assignments</a>
    </nav>

    <div class="container">
        <%- body %>
    </div>

    <footer class="text-center mt-4 pt-3 border-top">
        <p class="text-muted">Assignment Tracker 2025</p>
    </footer>

</body>