<body class="bg-light">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assignment Tracker</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="/">Assignment Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/assignments">Assignments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/assignments/add">Add New</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container mt-5">
        <%- body %>
    </div>

    <footer class="text-center mt-4 pt-3 border-top">
        <p class="text-muted">Assignment Tracker 2025</p>
    </footer>

</body>