<!DOCTYPE html>
<html>
    <head>
        <title>Assignment Tracker</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body class="p-4">
        <%- body %>
    </body>
</html>
